@use '@src/app/assets/styles/utils/colors.sass'

.container
    display: flex
    flex-direction: column
    width: 15rem
    gap: 1rem
    padding-top: 1rem

.wrapper-location
    display: flex
    flex-direction: column
    gap: 1rem

.container h2
    padding: 0.5rem 1rem
    font-size: 1.25rem
    font-weight: 500
    border-bottom: 1px solid colors.$border-color

.wrapper-menu-item
    display: flex
    flex-direction: column

.menu-item
    margin-right: 0.5rem
    padding: 1rem

    &:hover
        @extend .selected

.selected
    background-color: #efefef
    border-radius: 0 1rem 1rem 0