<div class='container'>
    <div>
        <h2>Tools</h2>
        <mat-nav-list>
            @for (menuItem of menuItems; track $index) {
                @if (menuItem.section_no === 1) {
                    <a mat-list-item routerLink='{{ menuItem.path }}' class='menu-item' routerLinkActive='menu-item--selected'>{{ menuItem.screen_name }}</a>
                }
            }
        </mat-nav-list>
    </div>
    <div>
        <h2>Others</h2>
        <mat-nav-list>
            @for (menuItem of menuItems; track $index) {
                @if (menuItem.section_no === 2) {
                    <a mat-list-item href='{{ menuItem.origin }}'>{{ menuItem.system_name }}</a>
                }
            }
        </mat-nav-list>
    </div>
</div>
