<div class='container'>
    <div class='wrapper-location'>
        <h2>Tools</h2>
        <div class='wrapper-menu-item'>
            @for (menuItem of menuItems; track $index) {
                @if (menuItem.location_no === 1) {
                    <a routerLink='{{ menuItem.path }}' class='menu-item' routerLinkActive='menu-item--selected'>{{ menuItem.screen_name }}</a>
                }
            }
        </div>
    </div>
    <div class='wrapper-location'>
        <h2 class='head'>Others</h2>
        <div class='wrapper-menu-item'>
            @for (menuItem of menuItems; track $index) {
                @if (menuItem.location_no === 2) {
                    <a href='{{ menuItem.origin }}' class='menu-item'>{{ menuItem.system_name }}</a>
                }
            }
        </div>
    </div>
</div>
