<header class='container'>
    <mat-toolbar class='wrapper'>
        <div class='wrapper-header-content'>
            <button mat-icon-button (click)='handleMenuClick()'>
                <mat-icon>menu</mat-icon>
            </button>
            <h1><a href=''>Web Toolkit</a></h1>
        </div>
        <div class='wrapper-header-content'>
            <button mat-icon-button (click)='handleContrastClick()'>
                <mat-icon>contrast</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>
